footer.b-footer
    .b-footer__container.b-container
        .b-footer__inner
            .b-footer__contacts.b-contacts
                .b-contacts__row
                    +svg('b-contacts__icon', 'email2')
                    a(href="#").b-contacts__link touristo@gmail.com
                .b-contacts__row
                    +svg('b-contacts__icon b-contacts__icon--phone', 'phone3')
                    .b-contacts__phone
                        a(href="tel:+78107187391").b-contacts__link.b-contacts__link--secondary +7 810 718 73 91
                        a(href="tel:+78107187391").b-contacts__link.b-contacts__link--secondary +7 810 718 73 91
                .b-contacts__row
                    +svg('b-contacts__icon b-contacts__icon--location', 'location')
                    span.b-contacts__location м. Ужгород, ул. Ивана Франко 1в, оф. 1
                .b-contacts__media.b-media
                    a(href="#" rel="noopener noreferrer" title="facebook").b-media__item
                        +svg('b-media__icon', 'facebook')
                    a(href="#" rel="noopener noreferrer" title="vk").b-media__item
                        +svg('b-media__icon', 'vk')
                    a(href="#" rel="noopener noreferrer" title="instagram").b-media__item
                        +svg('b-media__icon', 'instagram')
            .b-footer__menu.b-menu
                nav.b-menu__nav
                    h4.b-menu__sign.b-sign(rel="js-accordion-toggle") Путешествия
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Поиск туров
                        li.b-menu__item
                            a(href="#").b-menu__link Каталог туров
                        li.b-menu__item
                            a(href="#").b-menu__link Свадьба за границей
                nav.b-menu__nav
                    h4.b-menu__sign.b-sign(rel="js-accordion-toggle") Распродажа
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Акционные путевки
                        li.b-menu__item
                            a(href="#").b-menu__link Что такое Бамбарбия
                nav.b-menu__nav
                    h4.b-menu__sign.b-sign(rel="js-accordion-toggle") Страны
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Египет
                        li.b-menu__item
                            a(href="#").b-menu__link ОАЭ
                        li.b-menu__item
                            a(href="#").b-menu__link Турция
                        li.b-menu__item
                            a(href="#").b-menu__link Доминикана
                        li.b-menu__item
                            a(href="#").b-menu__link Шри Ланка
                        li.b-menu__item
                            a(href="#").b-menu__link Тайланд
                        li.b-menu__item
                            a(href="#").b-menu__link Чехия
                        li.b-menu__item
                            a(href="#").b-menu__link Греция
                        li.b-menu__item
                            a(href="#").b-menu__link Мальдивы
                nav.b-menu__nav
                    h4.b-menu__sign.b-sign(rel="js-accordion-toggle") Про нас
                    ul.b-menu__list
                        li.b-menu__item
                            a(href="#").b-menu__link Про компанию
                        li.b-menu__item
                            a(href="#").b-menu__link Услуги
                        li.b-menu__item
                            a(href="#").b-menu__link Часто задаваемые вопросы
                        li.b-menu__item
                            a(href="#").b-menu__link Доставка и оплата
                        li.b-menu__item
                            a(href="#").b-menu__link Контакты